@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

*,
:before,
:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/*### Primary */

	--bright-blue: hsl(220, 98%, 61%);
	--check-background: linear-gradient(120deg, rgba(87, 221, 255, 1) 35%, rgba(192, 88, 243, 1) 100%);

	/* ### Neutral */
	--white: #fff;
	/* ### Light Theme */

	--very-light-gray: hsl(0, 0%, 98%);
	--very-light-grayish-blue: hsl(236, 33%, 92%);
	--light-grayish-blue: hsl(233, 11%, 84%);
	--dark-grayish-blue: hsl(236, 9%, 61%);
	--very-dark-grayish-blue: hsl(235, 19%, 35%);

	/* ### Dark Theme */

	--very-dark-blue: hsl(235, 21%, 11%);
	--very-dark-desaturated-blue: hsl(235, 24%, 19%);
	--light-grayish-blue: hsl(234, 39%, 85%);
	--light-grayish-blue-hover: hsl(236, 33%, 92%);
	--dark-grayish-blue: hsl(234, 11%, 52%);
	--very-dark-grayish-blue2: hsl(237, 14%, 26%);
}

html {
	font-size: 18px;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	background-color: var(--very-dark-blue);
}

.wrapper {
	width: 100%;
}

.bg_img {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.bg_img img {
	width: 100%;
	height: 250px;
}

.container {
	width: 100%;
	max-width: 650px;
	padding: 0 25px;
	margin: 0px auto;
	margin-top: 4rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header h1 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: bold;
}

.new_todo {
	display: flex;
	background: var(--very-dark-desaturated-blue);
	border-radius: .3rem;
	padding: 1.1rem .2rem;
	margin-top: 2rem;
	cursor: pointer;
}

.radio {
	margin: auto 15px;
	height: 30px;
	width: 30px;
	border: 2px solid var(--very-dark-grayish-blue);
	border-radius: 5rem;
}

.radio:hover {
	background: var(--check-background);
}


.new_todo input {	
	flex: 1;
	margin: auto 0;
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1rem;
	color: var(--white);
}

input::placeholder {
	color:var(--dark-grayish-blue);
}

/* TODO List */

#todo__list {
	width: 100%;
	margin-top: 2.5rem;
	overflow: hidden;
	z-index: 1000;
}

.todo_item {
	display: flex;
	justify-content: space-between;
	padding: .4rem .2rem;
	align-items: center;
	color:hsl(0, 0%, 98%);
	background: var(--very-dark-desaturated-blue);
	border-bottom: 1px solid var(--very-dark-grayish-blue2);
}

.todo_item:first-child {
	border-radius: 20px 20px 0 0;
}

.todo_item .radio {
	display: flex;
}

.todo_item:hover .radio {
	background: var(--check-background);
}

.radio img {
	margin: auto; 
}

.todo_item .text {
	flex:1;
}

.todo_item:hover {
	transform: translateY(1px);
	cursor: pointer;
	z-index: 1000;
}


.todo_item .remove {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .9rem;
}

.info {
	display: flex;
	justify-content: space-between;
	padding: .9rem;
	border-radius: 0 0 20px 20px; 
	background: var(--very-dark-desaturated-blue);
}

.info span, .item_left {
	color: var(--dark-grayish-blue);
	padding: 0 3px;
}

.completed + .text span {
	text-decoration: line-through;
	color: var(--dark-grayish-blue);
	text-decoration-thickness: 0.05rem;
}

.info span:not(.active):hover  {
	color: var(--white);
	cursor: pointer;
}

.item_filter span.active {
	color: var(--bright-blue);
}

p {
	display: inline;
}

.brief {
	margin: 50px auto;
	text-align: center;
	color: var(--very-light-gray);
}